<footer class="bg-light">
  <div class="">
    <div class="">
      <div class="">
        <h6>Quick links</h6>
        <ul class="">
          <li><a href="/">Home</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/wishlist">Wishlist</a></li>
          <li><a href="/cart">Cart</a></li>
        </ul>
      </div>
      <div class="">
        <h6>Information</h6>
        <ul class="">
          <li><a href="/faq">Frequently Asked Questions</a></li>
          <li><a href="/shipping">Shipping</a></li>
          <li><a href="/returns">Returns</a></li>
          <li><a href="/terms-of-service">Terms of Service</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="">
        <h6>Follow Us</h6>
        <ul class="">
          <li><i class=""></i><a href="#">Facebook</a></li>
          <li><i class=""></i><a href="#">Instagram</a></li>
          <li><i class=""></i><a href="#">Twitter</a></li>
          <li><i class=""></i><a href="#">YouTube</a></li>
          <li><i class=""></i><a href="#">LinkedIn</a></li>
        </ul>
      </div>
      <div class="">
        <h6>Contact</h6>
        <address>
          <strong>Brand Name</strong><br />
          Street Name 123<br />
          ZIP code and city<br />
          <i class=""></i><a href="tel:+1234567890">(123)222-3333</a><br />
          <i class=""></i><a href="mailto:info@domain.com">info@thirdeye.com</a>
        </address>
      </div>
    </div>
    <div class="">&copy; 2024 Third Eye. All rights reserved.</div>
  </div>
</footer>
