<footer class="bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <h6>Quick links</h6>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/wishlist">Wishlist</a></li>
          <li><a href="/cart">Cart</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h6>Information</h6>
        <ul class="list-unstyled">
          <li><a href="/faq">Frequently Asked Questions</a></li>
          <li><a href="/shipping">Shipping</a></li>
          <li><a href="/returns">Returns</a></li>
          <li><a href="/terms-of-service">Terms of Service</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h6>Follow Us</h6>
        <ul class="list-unstyled">
          <li><i class="bi-facebook text-primary"></i>&nbsp;<a href="#">Facebook</a></li>
          <li><i class="bi-instagram text-primary"></i>&nbsp;<a href="#">Instagram</a></li>
          <li><i class="bi-twitter text-primary"></i>&nbsp;<a href="#">Twitter</a></li>
          <li><i class="bi-youtube text-primary"></i>&nbsp;<a href="#">YouTube</a></li>
          <li><i class="bi-linkedin text-primary"></i>&nbsp;<a href="#">LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h6>Contact</h6>
        <address>
          <strong>Third Eye</strong><br />
          Street Name 123<br />
          ZIP code and city<br />
          <i class="bi-telephone text-primary"></i>&nbsp;<a href="tel:+1234567890">(123)222-3333</a><br />
          <i class="bi-envelope text-primary"></i>&nbsp;<a href="mailto:info@domain.com">info@thirdeye.com</a>
        </address>
      </div>
    </div>
    <div class="text-center">&copy; 2024 Third Eye. All rights reserved.</div>
  </div>
</footer>
