.temple-section {
    min-height: 500px;
}

.bg-temple-dark {
    background-color: #504747;
    color: white;
}

.bg-temple-light {
    background-color: white;
    color: #504747;
}

/*.jumbotron-welcome {
    background-image: url("/assets/images/home1-banner.jpg");
    background-size: cover;
    color: white;
}*/

.bg-temple-welcome {
    background-image: url(/assets/images/home1-banner.jpg);
    background-size: cover;
    color: #504747;
}